body {
    background-color: black;
    background-image: url("BureauPlaintes.jpg");
    font-size: x-large;
}

#menu {
    color: oldlace;
}

p {
    color: orangered;
    text-decoration: underline;
    font-weight: bold;
}